# Copy this file to projects.local.cmake to register local modules.
#
# Select this example with -DGR4_MODULES=my-gr4-module. Alternatively, assign
# GROUPS to a module and add that group to GR4_MODULE_GROUPS.

gr4_register_module(
  NAME my-gr4-module
  TYPE CMAKE
  SOURCE_DIR "${CMAKE_CURRENT_LIST_DIR}/../my-gr4-module"
  DEPENDS gnuradio4-blocks
  CMAKE_ARGS
    "-DENABLE_PLUGINS:BOOL=ON"
  TESTS)
